<a href="https://colab.research.google.com/github/Gaby-K/IBM-Data-Science-Labs/blob/master/test0120.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
lis = [1,2,3]
df = pd.DataFrame(lis, columns=['value'])
df

   value
0      1
1      2
2      3

In [4]:
df.columns

Index(['value'], dtype='object')

In [5]:
df.dtypes

value    int64
dtype: object

In [6]:
df = pd.DataFrame({'col1':[1,2], 'col2':[3,4]})
df.shape

(2, 2)

In [7]:
df = pd.DataFrame({'col1':[1,2,3], 'col2':[4,5,6]})
print(df)
df.shape

   col1  col2
0     1     4
1     2     5
2     3     6

(3, 2)

In [9]:
df = pd.DataFrame({'animal':['a','b','c','d','e', 'f']})
df.head(3)

  animal
0      a
1      b
2      c

In [11]:
import numpy as np
df = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),columns=['a', 'b', 'c'])
df2 = df.copy()
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [13]:
df = pd.DataFrame({'Fuel': ['gas', 'oil', 'gas', 'oil', 'oil']})
df

  Fuel
0  gas
1  oil
2  gas
3  oil
4  oil

In [16]:
pd.get_dummies(df[['Fuel']])

   Fuel_gas  Fuel_oil
0         1         0
1         0         1
2         1         0
3         0         1
4         0         1

In [17]:
df = pd.DataFrame({'Animal':['Falcon', 'Falcon', 'Parrot', 'Parrot'],
                   'Max Speed':[380.,370.,24.,26.]})
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [19]:
import pandas as pd
df = pd.DataFrame({'month':[1,4,7,10], 'year':[2012,2014,2013,2014], 'scale':[55,40,84,31]})
df.loc[:, 'year'].mode()

0    2014
dtype: int64

In [20]:
df.max()

month      10
year     2014
scale      84
dtype: int64

In [21]:
df.min()

month       1
year     2012
scale      31
dtype: int64

In [22]:
df.std()

month     3.872983
year      0.957427
scale    23.216374
dtype: float64

In [23]:
df.skew()

month    0.000000
year    -0.854563
scale    1.032475
dtype: float64

In [24]:
df.corr()

        month      year     scale
month  1.0000  0.674200 -0.155700
year   0.6742  1.000000 -0.547358
scale -0.1557 -0.547358  1.000000